.section_feature {
    margin-top: 20rem;
    display: grid;
    min-height: 80vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;

    &_heading {
        grid-column: 2/3;
        align-self: start;
    }

    &_card_1 {
        grid-column: 2/3;
        grid-row: 2/2;
        align-self: flex-start;
        object-fit: cover;
        justify-self: center;
    }

    &_card_2 {
        grid-column: 3/4;
        grid-row: 2/2;
        align-self: flex-start;
        object-fit: cover;
        justify-self: center;
    }

    &_card_3 {
        grid-column: 4/5;
        grid-row: 2/2;
        align-self: flex-start;
        object-fit: cover;
        justify-self: center;
    }
}

.section_product {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 3rem 0rem;
    margin-top: 25rem;

    &_heading {
        display: inline-block;
        justify-self: start;
        margin-bottom: 10rem;
    }

    &_cards {
        display: flex;
        justify-content: space-between;
        justify-self: center;
    }
}